.App {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.description {
  padding: 20px;
  background-color: #87CEEB; 
  color: white;
  justify-content: flex-start; 
  flex: 1; 
}

.input-form {
  padding: 20px;
  flex: 1; 
}

@media (max-width: 768px) {
  .App {
    flex-direction: column; 
    align-items: stretch; 
  }
}
